body {
  background-image: url("images/ranta.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  align-items: center;
  text-align: center;
  font-family: Arial;
}

table,
th,
td {
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #9b8e7a;
  color: rgb(15, 15, 4);
  border-bottom: solid;
  border-collapse: collapse;
  margin-bottom: 30px;
  border: 1px solid black;
  border-bottom-color: gold;
}
* {
  box-sizing: border-box;
}

ul.topNav {
  margin: 0px;
  padding: 0px;
  width: auto;
}

.topNav li {
  display: inline-block;
}
.topNav li a {
  font-family: tahoma, arial;
  font-size: 11px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  text-decoration: none;
  background: #313131;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  border-right: 1px dotted #ffffff;
}
